<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tool_patron">

    <link name="patron">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="0.69"/>
            <inertia ixx="0.000483150" ixy="0.0" ixz="0.0" 
                     iyy="0.000483150" iyz="0.0" izz="0.000241750"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://iiwa_description/resource/meshes/tools/patron.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0354" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.0315" length="0.071"/>
            </geometry>
        </collision>
    </link>
    
    <joint name="tool" type="fixed">
        <parent link="link_ee"/>
        <child link="patron"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

</robot>