<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iiwa7">

    <!-- Аргукменты -->
    <xacro:arg name="initial_positions_file"
               default="$(find iiwa_config)/config/moveit/initial_positions.yaml"/>

    <xacro:property name="initial_positions"
                    value="${xacro.load_yaml('$(arg initial_positions_file)')['initial_positions']}"/>

    <xacro:include filename="$(find iiwa_description)/urdf/params.xacro"/>
    <xacro:include filename="$(find iiwa_description)/urdf/macros.xacro"/>
    <xacro:include filename="$(find iiwa_description)/urdf/links.xacro"/>
    <xacro:include filename="$(find iiwa_description)/urdf/joints.xacro"/>

    <webots>
        <plugin type="webots_ros2_control::Ros2Control"/>
    </webots>

    <ros2_control name="iiwaWebotsControl" type="system">
        <hardware>
            <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
            <!-- <plugin>mock_components/GenericSystem</plugin> -->
        </hardware>

       <joint name="joint1">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">${initial_positions['joint1']}</param>
            </state_interface>
        </joint>
        <joint name="joint2">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">${initial_positions['joint2']}</param>
            </state_interface>
        </joint>
        <joint name="joint3">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">${initial_positions['joint3']}</param>
            </state_interface>
        </joint>
        <joint name="joint4">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">${initial_positions['joint4']}</param>
            </state_interface>
        </joint>
        <joint name="joint5">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">${initial_positions['joint5']}</param>
            </state_interface>
        </joint>
        <joint name="joint6">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">${initial_positions['joint6']}</param>
            </state_interface>
        </joint>
        <joint name="joint7">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">${initial_positions['joint7']}</param>
            </state_interface>
        </joint>

    </ros2_control>


</robot>